$white: #ffffff;
$white-dark: #fbfbfb;
$white-message: #f8f8f8;

$grey: #efefef;
$grey-light: #999999;

$black: #1e1e1e;
$black-shadow: #000000;

$blue: #3369f3;
$blue-message: #e4edfd;
$red: #ff2f2f;
