@use "../../8_utils/styles/colors.scss" as colors;

.container {
  display: flex;
  width: 100%;
  padding: 15px 10px;

  &_message-right {
    justify-content: end;
  }

  .message {
    display: flex;
    max-width: 402px;
    padding: 11px;

    &_other {
      border-radius: 0 9px 9px;
      background-color: colors.$white-message;
    }

    &_my {
      border-radius: 9px 9px 0;
      background-color: colors.$blue-message;
    }

    .time {
      display: flex;
      align-items: end;
      height: 100%;
      padding-left: 4px;
    }
  }
}
