@use "../../8_utils/styles/colors.scss" as colors;
@use "../../8_utils/styles/fonts.scss" as fonts;

.label {
  display: flex;
  width: 100%;

  @include fonts.font-b6;
  color: colors.$grey-light;
}

.input {
  display: flex;
  width: 100%;
  height: 20px;
  padding-bottom: 7px;
  outline: none;
  border: 0;

  @include fonts.font-b4;

  &_text-right {
    text-align: right;
  }

  &_text-center {
    text-align: center;
  }

  &_background-color-grey {
    background-color: colors.$grey;
  }

  &_border-radius {
    border-radius: 4px;
  }
}

.input::placeholder {
  @include fonts.font-b4;
  color: colors.$grey-light;
}

.text-error {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
}
