@use "../../8_utils/styles/colors.scss" as colors;
@use "../../8_utils/styles/fonts.scss" as fonts;

.link {
  &_text {
    @include fonts.font-h4;
    color: colors.$blue;
  }

  &_underline {
    @include fonts.font-h4;
    color: colors.$blue;
    text-decoration: underline;
  }

  &_red-text {
    color: colors.$red;
  }

  &_grey-text {
    color: colors.$grey-light;
  }
}
