@use "../../8_utils/styles/colors.scss" as colors;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: colors.$white;
  border: 0;

  &_disabled {
    opacity: 0.4;
  }
}
