@use "../../8_utils/styles/colors.scss" as colors;

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 340px;
  height: 615px;
  padding: 50px 30px 30px;
  background-color: colors.$white;
  border-radius: 12px;
  border: 2px solid colors.$grey;

  .tittle {
    display: flex;
    padding-bottom: 40px;
  }

  .input {
    width: 100%;
    margin-bottom: 14px;
    border-bottom: 1px solid colors.$blue;
  }

  .button-registration {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 14px;
  }
}
